@import "../../styles/variables.scss";


.dashboardContainer {

    width: 100%;
    background-size: cover;
    padding: 10px;
    margin-left: 50px;
}

.dashboardSection {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 5px;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 50px;

}



.dashboardTitle {

    font-family: $primaryfont;
    font-weight: 300;
    font-size: 35px;
}

.dashboardTitleContent {}

.accountContent {
    //border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 20px;

    width: 100%;
    padding: 20px;
}

.orderCard {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    background-color: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
    gap: 30px;
}

.orderProductsSection {

    display: flex;
    gap: 10px;
}

.orderInfo {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
}

.myOrdersTitle {

    font-family: $primaryfont;
    font-weight: 300;
    font-size: 30px;
}

.orderNumber {
    font-family: $primaryfont;
    font-weight: 300;
    font-size: 22px;
}

.orderInfo p {
    margin: 0;
    font-size: 14px;
    color: #333;
    font-family: $secondfont;
}



.orderStatusAndPriceSection {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.productItem {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;

}

.productImage {
    display: block;
    background-color: #f8f8f8;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    object-fit: cover;


}

.profileOverviewSection {


    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-bottom: auto;

}

.itemWrapper {


    display: flex;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    height: 100px;
    align-items: center;
    align-content: center;
    gap: 10px;
    margin-top: 10px;
    //box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

// //.profileOverviewSection,
// .accountContent {
//     height: 100%; // Ensure they take up equal height
//     // border: 1px solid black; // Debugging or for design purposes

//     //box-sizing: border-box; // To include padding in size calculations
// }


.itemName {
    font-family: $primaryfont;
    font-weight: 300;
    font-size: 25px;
}

.itemName:hover {
    text-decoration: underline;
    cursor: pointer;
}




@media (max-width: 768px) {
   

    .dashboardContainer {

        width: 100%;
        background-size: cover;
        padding: 10px;
        margin-left: 50px;
    }
    
    .dashboardSection {
        display: flex;
        flex-direction: column;
        gap: 5px;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 50px;
    
    }
    
    
    
    .dashboardTitle {
    
        font-family: $primaryfont;
        font-weight: 300;
        font-size: 35px;
    }
    
    .dashboardTitleContent {}
    
    .accountContent {
        //border: 1px solid black;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 20px;
    
        width: 100%;
        padding: 20px;
    }
    
    .orderCard {
    
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 50px;
        width: min-content;
        background-color: white;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        padding: 20px;
        text-align: center;
        cursor: pointer;
        margin-top: 10px;
        gap: 30px;
    }
    
    .orderProductsSection {
    
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
    }
    
    .orderInfo {
        display: flex;
        flex-direction: column;
        gap: 8px;
        align-items: flex-start;
    }
    
    .myOrdersTitle {
    
        font-family: $primaryfont;
        font-weight: 300;
        font-size: 30px;
    }
    
    .orderNumber {
        font-family: $primaryfont;
        font-weight: 300;
        font-size: 22px;
    }
    
    .orderInfo p {
        margin: 0;
        font-size: 14px;
        color: #333;
        font-family: $secondfont;
    }
    
    
    
    .orderStatusAndPriceSection {
    
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    
    .productItem {
        list-style-type: none;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8px;
    
    }
    
    .productImage {
        display: block;
        background-color: #f8f8f8;
        margin: 0 auto;
        width: 100px;
        height: 100px;
        object-fit: cover;
    
    
    }
    
    .profileOverviewSection {
    
    
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 1px;
        margin-bottom: auto;
        margin-left: -120px;
    
    }
    
    .itemWrapper {
    
    
        display: flex;
        padding: 10px;
        background-color: #f9f9f9;
        border-radius: 0px;
        height: 100px;
        align-items: center;
        align-content: center;
        gap: 5px;
        margin-top: 10px;
        //box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    }
    
    
    
    .itemName {
        font-family: $primaryfont;
        font-weight: 300;
        font-size: 25px;
    }
    
    .itemName:hover {
        text-decoration: underline;
        cursor: pointer;
    }
    
        
      }